<div [routerLink]="['/sales']" class="shell-row sales card">
    <div class="sales-text">
        <div class="sales-text--items"><span class="border rounded-md px-2 py-1 text-2xl font-black">sales</span></div>
        <hr class="w-10 border-2 rounded-md">
        <div class="sales-text--items">
            <div class="text-lg font-black text-center">
                <p>UP TO 50%</p>
                <p>Off Original Price</p>
            </div>
        </div>
    </div>
    <div class="sales-image">
        <img src="/assets/img/pexels-daniel-frank-356808.jpg" />
    </div>
    <div class="info">
        <button>Enter</button>
    </div>
</div>
<div class="shell-row sports">
    <div [routerLink]="['/cross-country']"  class="sports-col cross-country-image">
        <span class="mt-12 mx-auto">
            <div class="info">
                <button>Cross country</button>
            </div>
        </span>
    </div>
    <div [routerLink]="['/downhill']"  class="sports-col downhill-image">
        <span class="mt-12 mx-auto">
            <div class="info">
                <button>Downhill</button>
            </div>
        </span>
    </div>
    <div [routerLink]="['/snowboard']" class="sports-col snowboard-image">
        <span class="mt-12 mx-auto">
            <div class="info">
                <button>Snowboard</button>
            </div>
        </span>
    </div>
</div>