<div class="footer">
    <div>
        ©2021 — Here since 2021
    </div>
    <div class="flex items-center">
        <span>Social Networks</span>
        <span class="px-1">
            <img class="h-6 w-6" src="assets/icon/facebook-logo.png" />
        </span>
        <span class="px-1">
            <img class="h-6 w-6" src="assets/icon/instagram-logo.png" />
        </span>
        <span class="px-1">
            <img class="h-6 w-6" src="assets/icon/twitter-logo.png" />
        </span>
        <span class="px-1">
            <img class="h-6 w-6" src="assets/icon/youtube-logo.png" />
        </span>
    </div>
  </div>